#main {
  margin-top: 5rem;
  padding: 2rem 2rem 0.5em;
  @include landscape {
    padding: 2rem 10rem 0.5em;
  }

  div {
    margin-top: 1rem;
  }
  #main-row {
    @include desktop {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}
