// Global

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-family: "Lato";
  font-size: 1.5rem;
  background-color: $gray85;
  color: $gray05;
}

.important {
  font-family: "SaxMono";
  font-weight: bold;
}
