// Variables

// colors
$gray00: #ffffff;
$gray90: #0a0a23;

$gray05: #f5f6f7;
$gray85: #1b1b32;

$gray10: #dfdfe2;
$gray80: #2a2a40;

$gray15: #d0d0d5;
$gray75: #3b3b4f;

$purple: #dbb8ff;
$yellow: #f1be32;
$blue: #99c9ff;
$lightGreen: #acd157;

$darkYellow: #4d3800;
